.RiskCard {
  text-align: start;
  background-color: var(--highAccent);
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
  transition: box-shadow 0.2s, transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: middle;
  align-items: start;
}