:root {
  font-family: "Roboto", sans-serif;
  line-height: 1;

  background-repeat: no-repeat;

  

  color-scheme: light;
  --text: #1e1e1e;
  --background: #ffffff;
  --smallAccent: #efefef;
  --mediumAccent: #cecece;
  --highAccent: #3b3b3b;
  --primaryColor:red;
  --darkGradient: linear-gradient(
    225deg,
    var(--smallAccent),
    var(--background),
    var(--background)
  );
  --primaryGradient: linear-gradient(to left, #0097b2, #146775);
  --warningColor: #faae88;
  --safeColor: #c8fa88;
  --dangerColor: #ed7373;

  --nav-bar-spacing: 300px;
  --borderRadius: 10px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --mediumSize: "500px";
}

:root [data-theme="light"] {
  --text: #111111;
  --background: #eeeeee;
  --smallAccent: #aaaaaa;
  --mediumAccent: #666666;
  --highAccent: #cccccc;

  background-color: #eeeeee;
  color: var(--text);
}

:root [data-theme="dark"] {
  --text: #dddddd;
  --background: #111111;
  --smallAccent: #444444;
  --mediumAccent: #aaaaaa;
  --highAccent: #181818;

  background-color: #111111;
  color: var(--text);
}

body {
  background: linear-gradient(to right, #FFFFFF, #DDDDDD);
  margin: 0;
}

/** text */
p {
  font-family: "Roboto", sans-serif;

  margin: 0px;
  font-size: 10pt;
  font-weight: 400 !important;
  color: var(--text);
}

h1 {
  text-align: center;
  color: var(--text);
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 40pt;
  line-height: 1;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 700 !important;
  margin: 0;
  font-size: 25pt;
  color: var(--text);
}

h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 10pt;
  color: var(--text);
}

h4 {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 15pt;
  font-weight: bold;
  color: var(--text);
}

label {
  font-family: "Roboto", sans-serif;
  text-align: start !important;
  justify-content: start;
  font-size: 10pt !important;
}

/** Cards **/
.card {
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    var(--text) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  animation: shine 5s linear infinite;
}

.card-title {
  color: var(--text) !important;
}

.card-text {
  color: var(--text) !important;
}

.card .name {
  font-weight: 600;
  font-size: 10pt;
}

.neonTextGlow {
  background-color: var(--primaryColor);

  background-clip: text;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgba(0, 151, 178, 1), 0 0 82px rgb(1, 19, 23),
    0 0 92px rgb(108, 142, 148), 0 0 102px rgba(59, 161, 179, 1),
    0 0 151px rgba(59, 161, 179, 1);
}

.neonGlow {
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to left,
    rgb(92, 175, 190),
    rgb(37, 114, 128),
    rgba(59, 161, 179, 1),
    rgba(59, 161, 179, 1),
    rgb(92, 175, 190)
  );
  background-blend-mode: exclusion;
  backdrop-filter: blur(10px);
  transition: 0.5s;
}
.neonGlow:hover {
  background: linear-gradient(
    to left,
    rgb(92, 175, 190),
    rgb(37, 114, 128),
    rgba(59, 161, 179, 1),
    rgba(59, 161, 179, 1),
    rgb(92, 175, 190)
  );

  box-shadow: 0 0 7px rgba(59, 161, 179, 1),
    0 0 10px rgba(59, 161, 179, 1), 0 0 21px rgba(59, 161, 179, 1),
    0 0 42px rgba(0, 151, 178, 1), 0 0 82px rgb(1, 19, 23),
    0 0 92px rgb(108, 142, 148), 0 0 102px rgba(59, 161, 179, 1),
    0 0 151px rgba(59, 161, 179, 1);

  transition: 0.5s;
}

.number {
  color: var(--text) !important;
  margin: 0 0 0 0;
  font-size: 50pt !important;
}

.record {
  font-weight: 600;
  font-size: 10pt;
}

.danger {
  box-shadow: 3px 3px 0px 1px var(--dangerColor);
}

input {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background: var(--background);
  height: 50px;
  height: 3em;

  border: 1px solid var(--highAccent);
  border-radius: var(--borderRadius);

  text-indent: 10px;
  padding: 0;
  margin: 0;

  width: 100%;

  transition: 0.25s;
}

input:focus,
textarea:focus {
  outline: none;
  color: var(--text);
  box-shadow: 0 0 0px 3px var(--primaryColor) inset;

  background-color: var(--background);
  transition: 0.25s;
}

input:disabled {
  color: var(--text);
  background-color: var(--mediumAccent);
}

input#react-select-3-input {
  box-shadow: none !important;
  margin: 0 !important;
}
input.noBorder {
  min-width: 0;
  border-radius: 0;
  border-bottom: 1px solid #00000000;
  padding: 3px 0;

  transition: 0.2s;
}

input.noBorder:hover {
  border-radius: 0;
  border-bottom: 1px solid var(--smallAccent);
  transition: ease-in-out 0.2s;
}

input.noBorder:focus {
  background-color: #00000000 !important;
  border-bottom: 1px solid var(--mediumAccent);
  transition: 0.2s;
}

input.invisible {
  background: transparent;
}
textarea {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);

  resize: vertical;
  border: 1px solid var(--highAccent);

  border-radius: var(--borderRadius);
  text-indent: 10px;

  padding: 10px 0;

  height: 5em;
  width: 100%;

  transition: 0.2s;
}

textarea:focus {
  outline: none;

  background-color: var(--smallAccent);

  transition: 0.2s;
}

.headerInput {
  font-weight: 600;
  line-height: 0;
  font-size: 4em;
  height: 1em;
  margin: 0px 0 0 0;
  border-radius: 5px;
  color: var(--text);
  background-color: #00000000;
}

.headerInput:focus {
  background: var(--smallAccent);
}

.invisibleTextArea {
  background-color: #00000000;

  width: 100%;
  margin: 0 0 0 10px;
  padding: 1em 0em 0 0.5em;

  align-items: center;

  text-justify: center;
  line-height: 1;
}

.inputSpan {
  background-color: #00000000;
  display: block;
  border-radius: 5px;
  padding: 10px 10px;

  line-height: 1.5em;

  transition: 0.3s;
}

span:focus {
  outline: none;
  text-align: left;

  transition: 0.3s;
}

.housePhoto {
  max-width: 100%;
  height: 7em;
  width: 200px;
  object-fit: cover;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-no-shrink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fixedRow {
  background-color: var(--background);

  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0 20px;
  border-radius: 5px;
  box-shadow: 0 0 50px 1px var(--background);
}

.rightRow {
  flex-direction: row;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.navBar {
  position: fixed;
  width: var(--nav-bar-spacing);
  left: 0px;
  top: 0px;
  height: 90vh;
  z-index: 10;
  border: 1px solid var(--smallAccent);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;

  padding-top: 7vh;
  padding-bottom: 5vh;

  background-color: var(--highAccent);
  transition: 0.2s;
}

.modal {
  background-color: #ffec9b;
  color: #1a1a1a;

  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 5px;
  padding: 1em;

  max-width: 40%;
  max-height: 80%;

  min-width: 30%;
  min-height: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.modal > .header {
  width: 100%;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #cfcece;
}

.darkModal {
  background-color: #1a1a1a;
  color: #cfcece;

  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 10px;
  padding: 1em;

  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.dark {
  background-color: var(--background) !important;
  color: var(--text) !important;
}

.dark:hover {
  background-color: var(--highAccent) !important;
  color: var(--text) !important;
}

.dark:focus {
  background-color: var(--smallAccent) !important;
  color: var(--background) !important;
}

.highlight {
  background-color: var(--primaryGradient) !important;
  color: #222222 !important;
}

.light {
  background-color: var(--mediumAccent);
  color: var(--background);
}
.leftAlign {
  display: flex;
  align-items: start;
  justify-content: start;
  align-items: center;

  padding-left: 10px;
}

.rightAlign {
  display: flex;
  justify-content: end;
  align-items: center;

  padding-right: 5px;
}

/* --- TABLE ---*/
td {
  font-size: 10pt;
  padding: 5px 10px;
}

th {
  font-weight: bold;
  font-size: 10pt;
  padding: 5px 10px;
}

/* --- BUTTON ---*/
button {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  font-weight: 500;
  font-size: 10pt;
  text-wrap: "wrap";
  border-radius: var(--borderRadius);
  line-height: 1.2em;
  height: 3em;

  background-color: var(--primaryGradient);
  padding: 0;

  cursor: pointer;

  border: 1px solid var(--highAccent);
  transition: 0.5s;
}

button:hover {
  background-color: var(--smallAccent);
  transition: 0.2s;
  transform: scale(1.05);
}

button:disabled {
  cursor: auto;
  opacity: 50%;
}

.dangerButton {
  background-color: var(--dangerColor);
  color: #111111;
}

.safeButton {
  background-color: var(--safeColor);
  color: #111111;
}

.warningButton {
  background-color: var(--warningColor);
  color: #111111;
}

.lightButton {
  color: var(--background);
  background-color: var(--smallAccent);
}

.lightButton:hover {
  color: var(--text);
  background-color: var(--highAccent);
}

.borderPrimary {
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor) !important;
}

.headingButton {
  height: 70px;
  width: 100px;
}

.invisible {
  background-color: none;
}

select {
  font-weight: 400;
  display: flex;
  flex-direction: row;
  background-color: var(--highAccent);
  border-radius: 5px;
  padding: 5px;

  cursor: pointer;

  border-style: unset;

  transition: 0.2s;
}

select:hover {
  background-color: var(--smallAccent);
  transition: 0.2s;
}

select:focus-visible {
  border: 0px none;
}

select[data-chosen] {
  background-color: var(--mediumAccent);
}

option {
  font-weight: 400;
}
.displayButton {
  width: 20em;
}

.accentButton {
  background: var(--primaryColor);
  color: var(--text);
}

.accentButton:disabled {
  background: var(--background);
  color: var(--text);
}

.accentButton:hover {
  background-color: var(--text);
  color: var(--background) !important;
  transform: scale(1.02);
}

.dangerButtonOutline {
  background-color: var(--text);
  box-shadow: 0 0 0 2px var(--dangerColor) inset;
  color: var(--dangerColor);
}

.actionableButton:hover {
  background-color: var(--smallAccent);
}

/*--- menus --- */
.leftMenu {
  display: flex;
  flex-direction: column;

  margin-left: 20px;
  padding: 1em 1em 1em 1%;
  border-radius: 5px;
}

.boxed {
  background: var(--smallAccent);

  border-radius: var(--borderRadius);

  transition: 0.2s;
}

.boxedAccent {
  border-radius: var(--borderRadius);
  padding: 10px;

  background: var(--primaryColor);
  color: #111111;

  transition: 0.2s;
}

.innerShadow {
  box-shadow: 0px 0px 80px 0px #0e1b1edd inset;
}

.outerShadow {
  box-shadow: 5px 5px 30px -10px #ffffff22;
}

.innerBorder {
  border-radius: 3px;
  box-shadow: 0px 0px 0 2px #ffffff55 inset;
}

.boxedAccent:hover {
  background-color: var(--primaryColor) !important;
}

.boxedSecondary {
  border-radius: var(--borderRadius);
  padding: 10px;

  background: var(--secondaryColor);
  color: #111111 !important;

  transition: 0.2s;
}

.boxedSecondary:hover {
  background-color: var(--secondaryColor) !important;
}

.outline {
  border-radius: var(--borderRadius);
  border: 1px solid var(--highAccent);
  transition: 0.2s;
}

.boxedDark {
  border-radius: var(--borderRadius);

  padding: 10px;

  background: var(--background);
  color: var(--text);

  transition: 0.2s;
}

.boxedLight {
  border-radius: 3px;

  padding: 5px;

  background: var(--text);
  color: var(--background);

  transition: 0.2s;
}

input[type="checkbox"] {
  display: flex;

  padding: 10px 10px;

  justify-self: unset;
  background-color: var(--background);
  appearance: none;

  border: 1px solid var(--smallAccent);

  cursor: pointer;

  transition: 0.2s;
}

input[type="checkbox"]:checked {
  background-color: var(--primaryColor);
  transition: 0.2s;
}

input[role="combobox"] {
  box-shadow: none;
  transition: 0.2s;
}

input[type="checkbox"]:hover {
  opacity: 0.7;
  transition: 0.2s;
}

input[type="checkbox"]:disabled {
  cursor: default;
  opacity: 0.5;

  transition: 0.2s;
}

input[type="date"] {
  padding: 0;
  text-indent: 5px;
}

.loadingContainer {
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-right: 300px;
}

.fill {
  align-items: stretch;
}

/*--- Modals ---*/
.moveableMenuBackground {
  position: fixed;
  backdrop-filter: blur(1.5px);
  cursor: auto;

  overflow: hidden;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 15;

  background-color: #eeeeee44;
}

.fillScreen {
  position: fixed;
  cursor: auto;

  overflow: hidden;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 15;
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;

  background: linear-gradient(
    225deg,
    var(--smallAccent),
    var(--background),
    var(--background)
  );
  backdrop-filter: 10px;

  border-radius: var(--borderRadius);
}

.lowPriorityIcon {
  color: var(--smallAccent);
}

.mediumPriorityIcon {
  color: var(--text);
}

.highPriorityIcon {
  color: var(--primaryColor);
}

/* -- Icons -- */
.basicIcon {
  display: flex;
  width: 18px;
  height: 18px;
  transition: 0.3s;
}

.h2Icon {
  width: 25pt !important;
  height: 25pt !important;
  margin-bottom: -5px;
}

.smallIcon {
  width: 18px !important;
  height: 18px !important;
}

.buttonIcon {
  padding: 0.2em;
  border-radius: 6px;
  cursor: pointer;

  transition: 0.2s;
}

.buttonIcon:hover {
  color: var(--smallAccent);
  opacity: 50%;
  transform: scale(1.1);

  transition: 0.2s;
}

.basicImage {
  background-color: var(--text);
  border-radius: "5px";
}

.ThumbnailImage {
  z-index: 0;
  background-color: var(--text);
  cursor: pointer;

  transition: 0.2s;
}

.ThumbnailImage:hover {
  filter: brightness(0.2);

  transition: 0.3s;
}

.displayImage {
  box-shadow: 0 0 40px 0px #333333;
  border: 2px solid var(--highAccent);

  transition: 0.3s;
}

.displayImage:hover {
  box-shadow: 0 0 100px 0px #555555;
  border: 2px solid var(--highAccent);

  transition: 0.3s;
}

.divider {
  border-bottom: solid 1px var(--mediumAccent);
  transition: 0.2s;
}

.hoverUp:hover {
  transform: translateY(-15px);
}

.clickable {
  border-radius: var(--borderRadius);
  transition: 0.3s;
  cursor: pointer;
}

.clickable:hover {
  background-color: var(--highAccent);
  opacity: 0.7;
  transition: 0.3s;
  transform: scale(1.02);
}
/* -- animation -- */

.mediumFade {
  animation-name: fadeIn;
  animation-duration: 0.2s;
}

.slowFade {
  animation-name: fadeIn;
  animation-duration: 1s;
}

.mediumFadeOut {
  animation-name: fadeOut;
  animation-duration: 0.2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fadeOut {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

.dateModal {
  background-color: var(--background);
  color: var(--text);

  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 375px;

  border-radius: 5px;
  padding: 1em;

  z-index: 10;
}

/* SIZING */
.ten {
  width: 10%;
}
.twentyFive {
  width: 25%;
}

.thirty {
  width: 30%;
}

.fifty {
  width: 50%;
}
.sixty {
  width: 70%;
}

.seventyFive {
  width: 75%;
}

.hundred {
  width: 100%;
}

/*****************************
Margin
*****************************/
.m0 {
  margin: 0;
}

.m1 {
  margin: 5px !important;
}

.m2 {
  margin: 10px !important;
}

.mr1 {
  margin-right: 5px;
}

.ml1 {
  margin-left: 5px;
}

.mt1 {
  margin-top: 5px;
}

.mb1 {
  margin-bottom: 5px;
}

.ml2 {
  margin-left: 10px;
}

.mr2 {
  margin-right: 10px;
}

.mb2 {
  margin-bottom: 10px;
}

.mt2 {
  margin-top: 10px;
}

.ml {
  margin-left: 40px;
}
.mr {
  margin-right: 25px;
}

.mv2 {
  margin: 10px 0 10px 0;
}

/*****************************
Padding
*****************************/
.p0 {
  padding: 0;
}

.p1 {
  padding: 5px !important;
}

.p2 {
  padding: 10px !important;
}

.p3 {
  padding: 40px !important;
}

.pr1 {
  padding-right: 5px;
}

.pl1 {
  padding-left: 5px;
}

.pt1 {
  padding-top: 5px;
}

.pb1 {
  padding-bottom: 5px;
}

.pl2 {
  padding-left: 10px;
}

.pr2 {
  padding-right: 10px;
}

.pb2 {
  padding-bottom: 10px;
}

.pt2 {
  padding-top: 10px;
}

.pv2 {
  padding: 10px 0;
}

.ph2 {
  padding: 0 10px;
}

.pl2 {
  padding-left: 10px;
}

.pr2 {
  padding-right: 10px;
}

.pr3 {
  padding-right: 20px;
}

.pl3 {
  padding-left: 20px;
}

.pt3 {
  padding-top: 20px;
}

.pb3 {
  padding-bottom: 20px;
}

.divMargin {
  margin: 10px 10px 10px 0px;
}

.r0 {
  border-radius: 0 !important;
}

.r1 {
  border-radius: 5px !important;
}

.r2 {
  border-radius: 20px !important;
}

/********* height ****************/
.h100 {
  height: 100%;
}

/***************** width *************/
.w10 {
  width: 10%;
}

.w25 {
  width: 25%;
}

.w33 {
  width: 31%;
}

.w50 {
  width: 50%;
}

.w75 {
  width: 75%;
}

.w100 {
  width: 100%;
}
/*******************************
Layout
*******************************/

.middle {
  display: flex;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
}

.end {
  display: flex;
  justify-content: end;
}

.start {
  display: flex;
  justify-content: start;
}

.noBkg {
  background-color: #00000000;
}

.textLeft {
  text-align: start !important;
}

.textRight {
  text-align: end !important;
}
.textCenter {
  text-align: center !important;
}

.noBorder {
  border: 0;
}

.s1 {
  box-shadow: 0 0 10px 1px var(--background);
}

.s2 {
  box-shadow: 0 0 50px 1px var(--background);
}

.wrap {
  flex-wrap: wrap;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
  top: 0;
}

.bold {
  font-weight: 600;
}

@media (max-width: 1200px) {
  .centerContainer .shrinkRow {
    flex-direction: column;
    align-items: space-between;

    width: 30%;
  }
  .shrinkWrap {
    flex-wrap: wrap;
  }
  .loadingContainer {
    height: 80vh;
    width: 100vw;
  }
  .dynamicSize {
    min-width: 90%;
  }
  .centerContainer .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .centerContainer .dynamicRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .hiddenOnShrink {
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
  }
  .navBar {
    position: fixed;
    transition: 0.2s;
  }
  .fixedRow {
    justify-content: start;
    flex-direction: row;
  }
  .thirty,
  .fifty,
  .sixty,
  .seventyFive,
  .ten,
  .w10,
  .w25,
  .w33,
  .w50,
  .w75,
  .w100 {
    width: 100%;
  }
  .flexShrink {
    width: unset !important;
  }
  .mr {
    margin-right: 0;
  }
}
